@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NTMS Azure Batch Sample App1 Sunday April</h1>
<img src="Azure 3tier app with fw and ag1.png" alt="NTMS" style="width:900px;height:600px;">
</div>
