@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NTMS Azure Batch Sample web App1 Sunday June 2021</h1>
<img src="Azure 3tier app with fw and ag1.png" alt="NTMS" style="width:900px;height:600px;">
</div>
