@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Feb Batch NTMS Azure Batch Sample app1 Sunday</h1>
<img src="Azure 3tier app with fw and ag1.png" alt="NTMS" style="width:900px;height:600px;">
</div>

